body {
    height: 100vh;
    height: 100svh;
}

#prox {
    transition: 120ms;
    animation: appear 200ms ease-in-out;
}

@keyframes appear {
    0% {
        opacity: .4;
        scale: .8;
        rotate: -65deg;
        translate: -13rem 18rem;
    }
}

@media only screen and (min-width: 40em) {
}

main {
    max-width: 100%;
    margin-inline: auto;
    align-self: center;
    column-gap: 1rem;
    row-gap: .4rem;
    height: 100%;

    display: grid;
    grid-template-columns:
    [borde-l-start] clamp(1rem, 8vw, 4rem)
    [borde-l-end full-start main-left-start side-left-start]
    1fr
    [side-left-end main-right-start]
    1fr
    [main-left-end side-right-start]
    1fr
    [main-right-end side-right-end full-end borde-r-start]
    clamp(1rem, 8vw, 4rem) [borde-r-end];

    grid-template-rows:
    [borde-top-start] 2rem
    [borde-top-end header-start title-start] min-content
    [title-end pic-start] auto
    [pic-end desc-start] min-content
    [desc-end header-end content-start] 1fr
    [content-end last-start] auto
    [last-end borde-bot-start] minmax(2rem, auto)
    [borde-bot-end];

}

.info__img {
    aspect-ratio: 1 / 1.25;
    width: 100%;
    object-fit: cover;
    object-position: top;
    mask-image: url('../img/maskImgb.png');
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}

#right, #left, #full {
    display: flex;
    flex-direction: column;
    max-width: 65ch;

    p {
        text-indent: 2rem;
        text-align: justify;
        padding-block: .4rem;
    }
}

/* -- Positions -- */

#full, #left, #right, #side-left, #side-right {
    grid-row-start: content;
}

#full {grid-column: full;}
#left {grid-column: main-left;}
#side-left {grid-column: side-left;}
#right {grid-column: main-right;}
#side-right {grid-column: side-right;}

@media only screen and (max-width: 54em) {
    #info__name {
        grid-row: title;
    }

    #info__desc, #portrait, #left, #right, #side-left, #side-right {
        grid-column: full;
    }
}
