:root {
	--header-height:7svh;
}

body {
	height: 100vh;
	height: 100svh;

	padding-block:1svh;

	display: grid;
	grid-template-columns:
	[borde-l-start] clamp(1rem, 8vw, 4rem)
	[borde-l-end full-start left-start] 18rem
	[left-end right-start] 1fr
	[right-end full-end borde-r-start] clamp(1rem, 8vw, 4rem)
	[borde-r-end];

	grid-template-rows:
	[header-start] var(--header-height)
	[header-end main-start] 1fr
	[main-end];

	color:var(--fg);
	background:var(--bg);
}

header {
	grid-row:header;
	grid-column:right;

	display:grid;

	text-align:center;
	align-items:center;

	letter-spacing:-1px;

	h1 {
		grid-row:1;
		grid-column:1;

		font-size: 2.1rem;
	}

	h2 {
		grid-row:1;
		grid-column:1;

		margin-bottom:0.2rem;
		margin-left:1.2rem;
		line-height:.6rem;

		font-family:"Roboto Mono";
		font-size: 4.2rem;
		font-weight:700;
		text-transform:uppercase;
		color:#282828;
	}
}

nav {
	grid-row:main;
	grid-column:left;

	font-weight:500;
	flex-grow:0;
	width:12rem;
	display:flex;
	flex-direction:column;
	gap:1rem;
	margin-block:100%;

	hr {
		height:3px;
		border:none;
		background:var(--fg);
	}
}

main {
	grid-row:main;
	grid-column:right;

	display:grid;
	grid-template-columns:
	[p-start] 2rem
	[p-end carousel-start] 1fr
	[carousel-end n-start] 2rem
	[n-end];

	grid-template-rows:
	[main-start] 1fr
	[main-end nav-start] 2rem
	[nav-end];

	.carousel {
		grid-row:main;
		grid-column:carousel;

		display:flex;
		scroll-behavior: smooth;
		overflow:hidden;
	}

	.btn, .bullets {
		font-size:2rem;

		align-self:center;
		justify-self:center;
	}

	.btn[inert] {
		color:#323232;
		cursor:default;
	}

	.left-btn {
		grid-row:main/nav;
		grid-column:p;
	}

	.right-btn {
		grid-row:main/nav;
		grid-column:n;
	}

	.bullets {
		grid-row:nav;
		grid-column:carousel;

		display:flex;
		gap:4px;

		.bullet {
			cursor:pointer;
			height:10px;
			width:10px;
			border:1px solid var(--fg);
			border-radius:50%;
			display:inline-block;
			transition: background-color 200ms ease;
		}

		.active {
			background-color:var(--fg);
		}

		.bullet:hover:not(.active) {
			background-color:var(--yellow);
		}
	}
}


.card {
	width:calc(100vw - clamp(2rem, 16vw, 8rem) - 18rem - 4rem);
	flex-shrink:0;
	max-height:calc(100svh - 2svh - var(--header-height) - 2rem);
	overflow:hidden;
}

.content {
	height:100%;
}

.image {
	width:100%;
	height:100%;
	object-fit:cover;
}

.contain {
	object-fit:contain;
}