:root {
    --fg: hsl(38, 41%, 71%);

    --highlight: hsl(37, 62%, 59%);

    --bg: hsl(195, 6%, 12%);
    --bg1: hsl(0, 0%, 16%);
    --bg2: hsl(20, 5%, 22%);
    --bg3: hsl(22, 7%, 29%);

    --yellow: hsl(37, 62%, 59%);
    --red: hsl(3, 76%, 65%);
    --green: hsl(70, 36%, 55%);

    --grey0: hsl(28, 11%, 44%);
    --grey1: hsl(30, 12%, 51%);
    --grey2: hsl(35, 17%, 59%);

    --bg-yellow: hsl(38, 27%, 22%);
    --bg-red: hsl(2, 33%, 18%);
}
