:root {
    --fg: hsl(38, 10%, 75%);

    --highlight: hsl(38, 80%, 80%);

    --bg: hsl(195, 6%, 8%);
    --bg1: hsl(0, 0%, 16%);
    --bg2: hsl(20, 5%, 22%);
    --bg3: hsl(22, 7%, 29%);

    --yellow: hsl(37, 62%, 59%);
    --red: hsl(3, 76%, 65%);
    --green: hsl(70, 36%, 55%);
}
