@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 4rem;
    font-family: "Courier New", monospace;
    font-family: "Roboto", 'Trebuchet MS', sans-serif;
    font-size: 1.06rem;
    line-height: 1.28;

    --fg: hsl(38, 41%, 71%);
    --bg: hsl(195, 6%, 12%);

    --bg1: hsl(0, 0%, 16%);
    --bg2: hsl(20, 5%, 22%);
    --bg3: hsl(22, 7%, 29%);

    --yellow: hsl(37, 62%, 59%);
    --red: hsl(3, 76%, 65%);
    --green: hsl(70, 36%, 55%);

    --grey0: hsl(28, 11%, 44%);
    --grey1: hsl(30, 12%, 51%);
    --grey2: hsl(35, 17%, 59%);

    --bg-yellow: hsl(38, 27%, 22%);
    --bg-red: hsl(2, 33%, 18%);
}

@media only screen and (max-width: 50em) {
}

body {
    color: var(--fg);
    background-color: var(--bg);
}

.main-nav a {
    justify-self: safe center;
}

a:hover, a:focus {
    color: var(--yellow);
}

p {
    text-indent: 2.4rem;
    text-align: justify;
    hyphens: auto;
    max-width: clamp(45ch, 100%, 75ch);
    text-wrap: pretty;
}

hr {
    border-bottom: 1px solid;
}

h1 {
    font-family: "Roboto Mono";
    font-height: 
}
